<h1>
  Fiscal Year
</h1>
<div class="body">
  <div class="form-horizontal">
    <div class="control-group">
      <label class="control-label">Start date:</label>
      <div class="controls">
        <input type="text" autofocus ng-model="fiscal_year.start_date" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">End date:</label>
      <div class="controls">
        <input type="text" autofocus ng-model="fiscal_year.end_date" />
      </div>
    </div>
    <div class="controls">
      <button ng-click="submit()" class="btn btn-primary" >Save</button>
      <button ng-click="cancel()" class="btn btn-primary" >Cancel</button>
    </div>
  </div>
</div>
