<div class="row">
  <div class="col-sm-5 col-md-3 col-md-offset-2 ">
    <div class="panel panel-default panel-success">

      <div class="panel-heading">
        <h2 class="panel-title">Login</h2>
      </div>
      <div class="panel-body">
        <div ng-show="error.message" class="alert alert-warning">
          <p>{{error.message}}</p>
        </div>
        <div class="body">
          <div class="form-group">
            <label>
              Email:
            </label>
            <input  class="form-control"  type="email" ng-model="user.email" ng-enter="$('#password').focus()" />

            <div class="form-group">
              <label>
                Password:
              </label>
              <input class="form-control"  type="password" id="password" ng-model="user.password" ng-enter="login()" />
            </div>  
            <div class="form-group">
              <label class="text-left">
                <input type="checkbox" ng-model="user.rememberme"> 
                Remember me
              </label>
              <button ng-click="login()" class="pull-right btn btn-lg btn-primary">Login</button>
            </div>
            <div class="form-group">
              &nbsp;
            </div>
            <div class="form-group">
              <button ng-click="forgot()" class="btn btn-sm btn-link">Forgot password</button>
              <button ng-click="resend()" class="btn btn-sm btn-link">Resend activation mail</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-7 col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">New User</h2>
      </div>
      <div ng-show="signup_error.message" class="alert alert-error">
        {{signup_error.message}}
      </div>
      <div class="panel-body">
        <p>Create a free account today!</p>
        <div class="form-horizontal">
          <div class="form-group" ng-class="signup_error.errors.email ? 'has-error' : ''">
            <label class="col-sm-5 col-lg-4 control-label">Email</label>
            <div class="col-sm-7 col-lg-8">
              <input class="form-control" type="email" ng-model="signup.email">
              <div class="help-block" ng-repeat="error in signup_error.errors.email">
                {{error}}
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="signup_error.errors.password ? 'has-error' : ''">
            <label class="col-sm-5  col-lg-4 control-label">Password
            </label>
            <div class="col-sm-7 col-lg-8">
              <input  class="form-control" type="password" ng-model="signup.password">
              <div class="help-block" ng-repeat="error in signup_error.errors.password">
                {{error}}
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="signup_error.errors.password_confirmation ? 'has-error' : ''">
            <label class="col-sm-5 col-lg-4 control-label">Password repeat
            </label>

            <div class="col-sm-7 col-lg-8">
              <input class="form-control" type="password" ng-model="signup.password_confirmation" ng-enter="register()">
              <div class="help-block" ng-repeat="error in signup_error.errors.password_confirmation">
                {{error}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7 col-lg-8 col-lg-offset-4">
              <button ng-click="register()" class="btn btn-success btn-lg">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
