<!DOCTYPE html>
<html ng-app="bookie" ng-controller="AppCtrl">
<head>
<meta charset="utf-8">
<title ng-bind="pageTitle"></title>




<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script><% }); %>



<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

</head>
<body ng-class="{'logged-in': $root.loggedIn}">
<div ng-switch on="$root.loggedIn">
<nav class="hidden-print navbar navbar-inverse navbar-fixed-top" role="navigation" ng-switch-when="true">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href='#' class="navbar-brand">
        Bookie
      </a>
      {{$root.companyId}}
      {{$root.fiscalYearId}}
    </div>
    <div class="collapse navbar-collapse ">
      <ul class=" navbar-nav navbar-right">
        <li ui-route="/dashboard" ng-class="{active:$uiRoute}">
        <a href="#/dashboard" class="btn">
          <span class="glyphicon glyphicon-home"></span>
          Dashboard
        </a>
        </li>
        <li ui-route="/vouchers" ng-class="{active:$uiRoute}">
        <a href="#/vouchers" class="btn">
          <span class="glyphicon glyphicon-list"></span>
          &nbsp;
          Vouchers
        </a>
        </li>
        <li ui-route="/reports" ng-class="{active:$uiRoute}">
        <a href="#/reports" class="btn">
          <span class="glyphicon glyphicon-signal"></span>
          &nbsp;
          Reports
        </a>
        </li>
        <li ui-route="/accounts" ng-class="{active:$uiRoute}">
        <a href="#/accounts" class="btn">
          <span class="glyphicon glyphicon-list"></span>
          &nbsp;
          Accounts
        </a>
        </li>
        <li ui-route="/settings" ng-class="{active:$uiRoute}">
        <a href="#/settings" class="btn">
          <span class="glyphicon glyphicon-cog"></span>
          &nbsp;
          Settings
        </a>
        </li>
        <li ui-route="/logout" ng-class="{active:$uiRoute}">
        <a href="#/logout" class="btn">
          <span class="glyphicon glyphicon-power"></span>
          &nbsp;
          Log out
        </a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-switch-default>
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href='#/'>Home</a></li>
      <li><a href='#/pricing'>Pricing</a></li>
      <li><a href='#/references'>References</a></li>
      <li><a href='#/login'>Signup</a></li>
      <li><a href='#/login'>Login</a></li>
    </ul>
  </div>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div ui-view="main"></div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <footer class="footer">
        Bookie version: 
        <%= version %>
      </footer>
    </div>
  </div>
</div>

</body>
</html>
