<div class="row">
  <div class="col-md-6">
    <div>
      <h1>Login</h1>
    </div>

    <div ng-show="error.message" class="alert alert-warning">
      <p>{{error.message}}</p>
    </div>

    <div class="body">
      <div>Email: <input ng-model="user.email" ng-enter="$('#password').focus()" /></div>
      <div>Password: <input type="password" id="password" ng-model="user.password" ng-enter="login()" /></div>

      <button ng-click="login()" class="btn btn-primary" >Login</button>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Register</h1>
  </div>
</div>
