<div>
  <h1>Register</h1>
</div>
<div ng-show="error.message" class="alert alert-warning">
  <p>{{error.message}}</p>
</div>
<div class="body">
  <form ng-submit="login()" ng-controller="LoginCtrl">
    <div>Email: <input ng-model="user.email" /></div>
    <div>Password: <input type="password" ng-model="user.password" ng-enter="login()"/></div>
  </form>

  <button ng-click="login()" class="btn btn-primary" >Login</button>
  <button ng-click="logout()" class="btn btn-primary" >Logout</button>
</div>
